language: node_js
node_js:
  - 4
  - 5
  - 6
  - 7
  - 8
os:
  - linux
  - osx
env:
  matrix:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
matrix:
  fast_finish: true
deploy:
- provider: npm
  skip_cleanup: true
  email: pact-foundation@googlegroups.com
  api_key:
    secure: "PG706JT8JLGZpQyi4eiFaCbq47I+2/9Mb8hz9/zGa6Fewq0+ezTNYmffQCBpf92BbcKdNCKoliudncurhC+/XV2TEd6VUitZNCMizCbsIKJnrthtMGgVADgfbooFBpyD4m5n87xXNV8YmKUTyBVpCASra6mnEhqHBPn2cZPqc+yKOXLHpsansGyQP0gfUpYFMlyFsPiKW2Jp12vvNbR3sCSmsTrwF8oiGoLPYIDl88vHCPpk8x8/PoOjSHUmlYVdR0y9oSXU/K8SMY0JdMVQUxUQV37aoIO/zYA6IocJtibsmsD6h7+29Hz1Moyb8fgsa6N+yI2bEPIacfm1bvoHUinLm8/FyQZZ3+19xch8k3kq0qOaiNjTr+equASbDgLPN/N0RGu1ES1y/p2mGTtTaDH7uAr9gO5DUol2mhMHrZnA9fZ5bPPywcDdvKxGTWiOZTWuARmwuRcmkXO1FogkllfYZMwGw+h8DqOTTfV4SUXHszJNOXGx6RYpwI9o17QFzzhX3+vAAb9Z4J2TRu2hTCuVA2ojmw42uhXizwGffLqd7oa3Iah9tyyuTK9/sASeoFfRQIoDKt5XSlIOVhnDQinCPTRyCXJRIAEAVONiJgkxfYbIzLWLGO6szqhPw463JwRdmCdBNsXRVKON9JY8oalQOoQcG7WDOwOiMsehvt0="
  on:
    branch: master
    tags: true
    node: 6
after_failure:
- find . -iname '*.log' -print0 | xargs -0 cat
